@import 'variables';
@import 'utils';


.deep-purple--text {
  color: $primary-color;
}

.secondary--text {
  color: $secundary-color;
}

.app-wrapper {
  background: $body-background;
}

.shadow-light { box-shadow: 0px 5px 5px rgb(236, 236, 236); }

.v-list-item--active.custom-link-color {
  background: #f3f0f827;
  color: $primary-color !important;
}

.pointer {
  cursor: pointer;
}
